<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if name %}
    <h1>Welcome to this page, {{ name }}!</h1>
    {% else %}
    <h1>Welcome to this page, unknown user!</h1>
    {% endif %}
    <p>Within here you will find a vast number of things to do. The limits are as far as your imagination can take you!</p>
</body>
</html>